{% extends "base.html" %}

{% block title%}Home{% endblock %}

{% block extra_head %}
<link href="{{ STATIC_URL }}d3_charts/css/d3_charts.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1>Analytics</h1>

    <div style="width:100%;height:300px">
    	<div class="model-entries-graph-container">
    		<div id="model-entries-graph"></div>
    	</div>
    </div>

    {% if attribute_value_frequency_containers %}
    {% for container in attribute_value_frequency_containers %}
    	<div style="width:100%;height:300px">
    		<div class="{{ container.container_class }}">
    			<div id="{{ container.id }}"></div>
    		</div>
    	</div>
    {% endfor %}
    {% endif %}

{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}d3_charts/js/linegraph.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}d3_charts/js/bargraph.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var model_entries_graph_data = {{ model_entries_graph_data|safe }};
    draw_bar_graph(model_entries_graph_data);

    var attribute_value_frequency_graph_data_1 = {{ attribute_value_frequency_graph_data_1|safe }};
    draw_bar_graph(attribute_value_frequency_graph_data_1);

    var attribute_value_frequency_graph_data_2 = {{ attribute_value_frequency_graph_data_2|safe }};
    draw_bar_graph(attribute_value_frequency_graph_data_2);

    var attribute_value_frequency_graph_data_3 = {{ attribute_value_frequency_graph_data_3|safe }};
    draw_line_graph(attribute_value_frequency_graph_data_3);
});
</script>

{% endblock %}