{% extends "base.html" %}

{% block title%}Home{% endblock %}

{% block extra_head %}
<link href="{{ STATIC_URL }}d3_charts/css/d3_charts.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <h2>{{ title|title }}</h2>

    <div style="width:100%;height:400px">
    	<div class="model-entries-graph-container">
    		<div id="model-entries-graph"></div>
    	</div>

    	<div class="attribute-value-frequency-graph-container">
    		<div id="attribute-value-frequency-id"></div>
    	</div>
    </div>

{% endblock %}

{% block extra_js %}
{% if graph_type == "LINE" %}
<script type="text/javascript" src="{{ STATIC_URL }}d3_charts/js/linegraph.js"></script>
{% elif graph_type == "BAR" %}
<script type="text/javascript" src="{{ STATIC_URL }}d3_charts/js/bargraph.js"></script>
{% endif %}

<script type="text/javascript">
$(document).ready(function() {
    var graph_data = {{ graph_data|safe }};
    var graph_type = "{{ graph_type }}";

    if(graph_type == "LINE") {
    	draw_line_graph(graph_data);
    }
    else if(graph_type == "BAR") {
    	draw_bar_graph(graph_data);
    }
});
</script>

{% endblock %}
